<!-- Categoria Check Boxes -->
<section class="categoriasSection bg-secondary bg-light">
    <div class="container text-dark">
        <div class="row categoriasCheckBoxes">
            <div class="col-lg-12">
                {% for categorias in object_list %}
                <div class="form-check form-check-inline px-3">
                    <input class="form-check-input categoriaCheckbox" type="checkbox" id={{categorias.nombre}}
                        value="{{categorias.nombre}}">
                    <label class="form-check-label" for="{{categorias.nombre}}">{{categorias.nombre}}</label>
                </div>
                {%endfor%}
                <!-- Modal for more categories -->
                {% include 'curso/categorias_list_modal.html' with object_list=cursos%}
            </div>
        </div>
    </div>
</section>
<!-- End Categoria Check Boxes -->