{% extends 'base.html'%}
{% load static %}
{%block breadcumb%}
{{block.super}}
<!-- Little hack to have breadcumnb dynamically without much work -->
<li class="breadcrumb-item"><a>Curso</a></li>
<li class="breadcrumb-item"><a href="{% url 'curso:curso' curso.id %} ">{{curso.titulo}}</a></li>
{%endblock%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            {% if curso.imagen%}
            <img src="{{curso.imagen.url}}" height="120" width="120" alt="">
            {%endif%}
        </div>
        <div class="col-lg-5">
            <h4>Titulo: {{curso.titulo}}</h4>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-lg-4">
            <h4>Costo: ${{curso.costo }}</h4>
        </div>
    </div>
    <div class="row py-2">
        <div class="offset-lg-2"></div>
        <div class="col-lg-5">
            <h4> Instructor: <a href="{{curso.profesor.get_absolute_url}}"> {{curso.profesor}}</a></h4>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-lg-4">
            {# Es un many to many field so I have to do the 'all' properties. The join for each item pone Un 'Y'. Puedo hacer un custom template para mostrar la K para martes, La l para lunes asi etc. #}
            <h4>Dias: {{curso.dias.all|join:" Y "}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-2"></div>
        <div class="col-lg-5">
            <h4> Hora: {{curso.duracion}}hrs</h4>
        </div>
        <div class="offset-lg-5"></div>
    </div>
    <div class="row">
        <div class="offset-lg-2"></div>
        <div class="col-lg-10">
            <h4 class="text-center">Descripción</h4>
            <h4 class="description-text">{{curso.descripcion}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-2"></div>
        <div class="col-lg-10">
            <!-- Partial of prontuario -->
            {% include 'partials/_prontuario_accordion.html' with prontuario=view.obtenerProntuario.items %}
        </div>

        <div class="row py-5">
            <div class="offset-lg-2"></div>
            <div class="col-lg-10">
                <a href="{% url 'inscribete' %}" class="btn btn-primary w-100">Inscribete ahora</a>
            </div>
        </div>
        <!-- Partial of cursosRelacionados -->
        {% include 'partials/_cursosRelacionados.html' with cursos=view.getRelatedCourses %}







        <!-- This is to fix some weird bug que succede con el accordion del prontuario
        Error message: Uncaught TypeError: Cannot read property 'querySelectorAll' of null
        For some reason If I add another accordion it fixes. The problem is that is triying to search something that is null que no esta en el dom y por eso aparece ese errror.
    -->
        <div class="row" style="display:none">
            <div class="offset-lg-2"> </div>
            <div class="col-lg-10">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Collapsible Group Item #1
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                Do no delete
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapse-Tema 2" aria-expanded="false" aria-controls="collapseTwo">
                                    Collapsible Group Item #2
                                </button>
                            </h5>
                        </div>
                        <div id="collapse-Tema 2" class="collapse show" aria-labelledby="headingTwo"
                            data-parent="#accordion">
                            <div class="card-body">
                                Do no delete
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                Do no delete
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {%endblock%}