{% extends 'base.html'%}
{% load static %}
{%block breadcumb%}
{{block.super}}
<!-- Little hack to have breadcumnb dynamically without much work -->
<li class="breadcrumb-item"><a>Curso</a></li>
<li class="breadcrumb-item"><a href="{% url 'curso:curso' curso.id %} ">{{curso.titulo}}</a></li>
{%endblock%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            {% if curso.imagen%}
            <img src="{{curso.imagen.url}}" height="120" width="120" alt="">
            {%endif%}
        </div>
        <div class="col-lg-5">
            <h4>Titulo: {{curso.titulo}}</h4>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-lg-4">
            <h4>Costo: {{curso.costo}}</h4>
        </div>
    </div>
    <div class="row py-2">
        <div class="offset-lg-2"></div>
        <div class="col-lg-5">
            <h4> Instructor: <a href="{{curso.profesor.get_absolute_url}}"> {{curso.profesor}}</a></h4>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-lg-4">
            <h4>Dias: {{curso.dias}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-2"></div>
        <div class="col-lg-5">
            <h4> Hora: {{curso.duracion}}</h4>
        </div>
        <div class="offset-lg-5"></div>
    </div>
    <div class="row">
        <div class="offset-lg-2"></div>
        <div class="col-lg-10">
            <h4 class="text-center">Descripción</h4>
            <h4>{{curso.descripcion}}<strong>Ver mas</strong>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-2">
            <div class="col-lg-10">
                <h3>Tema:{{curso.temas}}</h3>
                <h3>Subtema:{{curso.temas.subtemas}}</h3>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="offset-lg-2"></div>
        <div class="col-lg-10">
            <a href="{% url 'inscribete' %}" class="btn btn-primary w-100">Inscribete ahora</a>
        </div>
    </div>
    <!-- Partial of cursosRelacionados -->
    {% include 'partials/_cursosRelacionados.html' %}
    {%endblock%}