{%load static%}
<!-- Los estilos del css y script esta en inscribet app. En el html -->

{% block content %}
<div class="container-sign" id="container-sign">
    <div class="form-container sign-up-container">
        <form method="post" action="users/signup/?next={{request.path}}">
            <!-- users/signup -->
            {% csrf_token %}
            <h1>Crea una cuenta</h1>
            <!-- <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span> -->
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            <input type="text" name="username" placeholder="Nombre de usario" />
            <input type="email" name="email" placeholder="Correo Electronico" />
            <input type="password" name="password1" placeholder="Contraseña" />
            <input type="password" name="password2" placeholder="Contraseña (Coonfirmacion)" />
            <button type="submit">Crea la cuenta</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form method="post" action="users/login/?next={{request.path}}">
            {% csrf_token %}
            <h1>Conectate a la cuenta</h1>
            <input type="text" name="username" placeholder="Nombre de usuario" />
            <input type="password" name="password" placeholder="Contraseña" />
            <a href="#">Olvido su Contraseña?</a>
            <button>Conéctate</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Hola!</h1>
                <p>Entra tus datos personales y comienza a estudiar con nosotros</p>
                <button class="ghost" id="signIn">Ó Conectate a tu cuenta</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Bienvenido</h1>
                <p>Para inscriberte en un curso, conéctate en tu cuenta</p>
                <button class="ghost" id="signUp">Ó Crea una cuenta</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}