{% extends 'base.html' %}
{% load static %}

{%block breadcumb%}
{{block.super}}
<!-- Little hack to have breadcumnb dynamically without much work -->
<li class="breadcrumb-item"><a>Curso</a></li>
{%endblock%}

{% block content%}
<!-- Create a  partial Pasos -->
<div class="container">
    <div class="row pb-5 pasosCuadrados">
        <div class="col-lg-3">
            <i class="fas fa-check fa-lg">
            </i>
            <h4> Seleciona el curso </h4>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-lg-3">
            <div class="circle">
                <h3>2</h3>
            </div>
            <h4>Incribete en el curso</h4>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-lg-3">
            <div class="circle">
                <h3>3</h3>
            </div>
            <h4 class="ultimoCuadrado">Matriculate en el curso</h4>
        </div>
    </div>

    {% if user.is_authenticated %}
    <h3>{{user.username}} esta conetado</h3>
    <section class="InscribirseFormulario">
        <div class="accordion" id="accordionExample">
            <form method="POST" class="form needs-validation" role="form" autocomplete="off" novalidate>
                {% csrf_token %}
                <section class="InformacionPersonal">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Información personal
                                    <h6 class="card-subtitle text-muted d-inline ml-2">Paso 1 de 3</h6>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample" style="display:block;">
                            <div class="card-body">
                                <h6 class="text-info">Nota: Todos los campos son requeridos </h6>
                                <div class="form-group">
                                    <label class="col-form-label form-control-label">Nombre </label>
                                    <div>
                                        {{form.nombre}}
                                        <div class="valid-feedback">
                                            <i class="fas fa-check fa-lg">
                                            </i>
                                            Nombre valido
                                        </div>
                                        <div class="invalid-feedback">
                                            <i class="fas fa-times fa-lg">
                                            </i>
                                            Escribe tu nombre
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- mx-auto to allign divs/things in center -->
                                    <label class="col-form-label form-control-label">Apellido: </label>
                                    {{form.apellido}}
                                    <div class=" valid-feedback">
                                        <i class="fas fa-check fa-lg">
                                        </i>
                                        Appellido valido
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="fas fa-times fa-lg">
                                        </i>
                                        Escribe tu appelido
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-form-label form-control-label">Género:</label>
                                    {% for radio in form.generos %}
                                    <div class="form-check">
                                        {{radio}}
                                    </div>
                                    {%endfor%}
                                    <div class="valid-feedback">
                                        <i class="fas fa-check fa-lg">
                                        </i>
                                        Género selecionado
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="fas fa-times fa-lg">
                                        </i>
                                        Seleciona un género
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-form-label form-control-label">Fecha de
                                        nacimiento:</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="inputGroupAppend">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        {{form.fecha_de_nacimiento}}
                                        <div class="valid-feedback">
                                            <i class="fas fa-check fa-lg">
                                            </i>
                                            Fecha de nacimiento escogida
                                        </div>
                                        <div class="invalid-feedback">
                                            <i class="fas fa-times fa-lg">
                                            </i>
                                            Añade tu fecha de nacimiento
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group ">
                                    <label class="col-form-label form-control-label">Lugar de
                                        nacimiento:</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="inputGroupAppend">
                                                <i class="far fa-hospital"></i>
                                            </span>
                                        </div>
                                        {{form.lugar_de_nacimiento}}
                                        <div class="valid-feedback">
                                            <i class="fas fa-check fa-lg">
                                            </i>
                                            Lugar de nacimiento escogido
                                        </div>
                                        <div class="invalid-feedback">
                                            <i class="fas fa-times fa-lg">
                                            </i>
                                            Elige tu lugar de nacimiento
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group ">
                                    <label class="col-form-label form-control-label">Correo
                                        electronico:</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="inputGroupAppend">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                        {{ form.correo_electronico}}
                                        <small id="correoElectronicoHelpTextInput" class="form-text text-muted d-block">
                                            Donde va a recibir la información de su curso comprado
                                        </small>
                                        <div class="valid-feedback">
                                            <i class="fas fa-check fa-lg">
                                            </i>
                                            Direción de correo electronico valido
                                        </div>
                                        <div class="invalid-feedback">
                                            <i class="fas fa-times fa-lg">
                                            </i>
                                            Escribe tu dirección de correo electronico
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group ">
                                    <label
                                        class="col-form-label form-control-label">{{form.numero_de_telefono.label}}</label>
                                    {{form.numero_de_telefono}}
                                    <small id="telefonoHelpTextInput" class="form-text text-muted d-block">
                                        {{form.numero_de_telefono.help_text}}
                                    </small>
                                    <div class="valid-feedback">
                                        <i class="fas fa-check fa-lg">
                                        </i>
                                        Numero de telefono valido
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="fas fa-times fa-lg">
                                        </i>
                                        Escribe tu numero de telefono
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-form-label form-control-label">Preparacion
                                        academica mas alta:
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="inputGroupAppend">
                                                <i class="fas fa-user-graduate"></i>
                                            </span>
                                        </div>
                                        {{form.preparacion_academica}}
                                        <div class="valid-feedback">
                                            <i class="fas fa-check fa-lg">
                                            </i>
                                            Preparación academica elegida
                                        </div>
                                        <div class="invalid-feedback">
                                            <i class="fas fa-times fa-lg">
                                            </i>
                                            Seleciona una opción
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                <section class="direcciónPostal">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Direción postal
                                    <h6 class="card-subtitle text-muted d-inline ml-2">Paso 2 de 3</h6>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="col-form-label form-control-label">Dirección:
                                    </label>
                                    {{form.direccion}}
                                    <small id="telefonoHelpTextInput" class="form-text text-muted d-block">
                                        {{form.direccion.help_text}}
                                    </small>
                                    <div class="valid-feedback">
                                        <i class="fas fa-check fa-lg">
                                        </i>
                                        Valido
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="fas fa-times fa-lg">
                                        </i>
                                        Escribe el nombre de tu dirección
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label form-control-label">Pueblo:</label>
                                    {{form.pueblo}}
                                    <div class="valid-feedback">
                                        <i class="fas fa-check fa-lg">
                                        </i>
                                        valido
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="fas fa-times fa-lg">
                                        </i>
                                        Escribe el nonbre de tu pueblo
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label form-control-label">País:</label>
                                    {{form.pais}}
                                    <div class="valid-feedback">
                                        <i class="fas fa-check fa-lg">
                                        </i>
                                        valido
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="fas fa-times fa-lg">
                                        </i>
                                        Escribe el nombre de tu país
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label form-control-label">Zip code:</label>
                                    {{form.zip_code}}
                                    <div class="valid-feedback">
                                        <i class="fas fa-check fa-lg">
                                        </i>
                                        Zip code valido
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="fas fa-times fa-lg">
                                        </i>
                                        Escribe el zip code
                                    </div>
                                    <!-- <button class="btn btn-primary collapsed btn-block mt-2" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                            aria-controls="collapseTwo">
                                            Continua llenando tu ocupación
                                            <span>
                                                <h6>Paso 3 de 3</h6>
                                            </span>
                                        </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="ocupacion">
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    Ocupación
                                    <h6 class="card-subtitle text-muted d-inline ml-2">Paso 3 de 3</h6>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="col-form-label form-control-label">Ocupación:
                                    </label>
                                    <div class="">
                                        {{form.ocupacion}}
                                        <div class="valid-feedback">
                                            <i class="fas fa-check fa-lg">
                                            </i>
                                            Ocupación elegida
                                        </div>
                                        <div class="invalid-feedback">
                                            <i class="fas fa-times fa-lg">
                                            </i>
                                            Escribe tu ocupación
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label id="labelTelefonoTrabajo" class="col-form-label form-control-label">Telefono
                                        de
                                        trabajo. Ejemplo</label>
                                    {{form.telefono_del_trabajo}}
                                    <div id="feedbackTelefonoTrabajo" class="valid-feedback">
                                        <i class="fas fa-check fa-lg">
                                        </i>
                                        Numero valido
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="fas fa-times fa-lg">
                                        </i>
                                        Escribe el numero de telefono de tu trabajo
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label form-control-label">Lugar de
                                        trabajo:</label>
                                    {{form.lugar_del_trabajo}}
                                    <div class="valid-feedback">
                                        <i class="fas fa-check fa-lg">
                                        </i>
                                        Lugar de trabajo escogido
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="fas fa-times fa-lg">
                                        </i>
                                        Escribe el lugar donde tu trabajas
                                    </div>
                                    <button class="btn btn-primary btn-block mt-2" type="submit">
                                        Inscribete en el curso </button>
                                    <!-- <label for="zip">Telephone</label>
                                        <input id="zip" type="tel" placeholder="(XXX)XXX-XXXX" pattern="\d{5}"
                                            class="masked" name="uszipcode" title="5-digit zip code"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </section>
    {%else %}
    {#If user is not authenticaded#}
    <a href="{% url 'login'%}?next={{request.path}}">Conectate</a>
    {% endif %}
</div>
{% endblock%}

{%block extraScript%}
<!-- Libreria requerida para la validación de datos. Intl-tel-input -->
<script src=" {% static 'library/int-Tel-Input/js/intlTelInput.min.js'%} " data-autoinit="true"></script>
<!-- Google Places.js -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjg0yeAHxx32XWE4zxODFr1vGaKhwdH4Q&libraries=places&callback=initAutocomplete"
    async defer></script>
<script src=" {% static  'js/inscribete.js'%}"></script>

<!-- Libreria para places.js Algolia 
        <script src=" {% static 'library/places/places.js'%}"></script>
        <script src=" {% static 'library/autocomplete/awesomplete.min.js'%}" async></script>-->
{%endblock%}